[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"
black = "*"

[packages]
discord-py = "*"
asyncpg = "*"
jishaku = "*"
aioredis = "*"
pyutil = "*"
redis = "*"
dblpy = "*"
asyncio = "*"
aiohttp = "*"
requests = "*"
arrow = "*"
dateparser = "*"
discord-flags = "*"
disputils = "*"
pillow = "*"
pyyaml = "*"
rotunicode = "*"
ftfy = "*"
unidecode = "*"
googletrans = "*"
gtrans = "*"
textblob = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
